build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
forge/src/main/java/ru/weryskok/mtrrumetro/mod
forge/src/main/resources/assets
forge/src/main/resources/data
forge/src/main/resources/META-INF
fabric.mod.json
**/font/*.json

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
